<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laritte.server.mapper.DetailImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.laritte.server.entity.DetailImage">
        <id column="id" property="id" />
        <result column="img_url" property="imgUrl" />
        <result column="belongs_to" property="belongsTo" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, img_url, belongs_to
    </sql>

</mapper>
